<div id="content">
  <app-device-detail *ngIf="deviceDetail" [device]="device" [option]="option" [parentCom]="'设备卡片'"
                     (result)="cancel($event)"></app-device-detail>

  <app-device-table *ngIf="deviceTable" [device]="device" (result)="cancel($event)"></app-device-table>

  <div style="padding: 16px" *ngIf="!deviceDetail&&!deviceTable">
    <div id="toolbar">
      <ul>
        <li>
          <div style="background-color: #1ab768;"></div>
          运行
        </li>
        <li>
          <div style="background-color: #ff2222;"></div>
          停机
        </li>
        <li>
          <div style="background-color: gold;"></div>
          报警
        </li>
      </ul>
      <div id="search">
        <input nz-input [(ngModel)]="searchValue" (ngModelChange)="search()" placeholder="请输入关键字搜索">
        <!--<input nz-input [(ngModel)]="group" placeholder="分组">-->
        <!--<button nz-button>搜索</button>-->
        <button nz-button (click)="add()">新增</button>
        <button nz-button (click)="getList()">刷新</button>
      </div>
    </div>
    <nz-list [nzDataSource]="viewList" [nzRenderItem]="item"
             [nzGrid]="{ gutter: 16, span: 6 ,xs:24 ,sm:24,md:12,lg:12,xl:8,xxl:8}"
             [nzPagination]="pagination" [nzLoading]="loading">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent">
          <ng-template #nzContent>
            <div class="card" (click)="edit(item.key)">
              <div class="title" [ngStyle]="{'background-color':item['devicesetting']['cardcolor']}">
                {{item.name}}
                <i nz-icon (click)="$event.stopPropagation();toTable(item.key)" nzType="pie-chart" title="设备图表"
                   nzTheme="outline" style="float: right"></i>
              </div>

              <div class="card-content" >
                <div *ngFor="let att of display(item)"
                     [ngStyle]="{'height':200/(display(item).length%2==0?display(item).length/2:(display(item).length+1)/2)+'px','padding-top':(200/(display(item).length%2==0?display(item).length/2:(display(item).length+1)/2)-36)/2+'px','width':(display(item).length%2!=0&&display(item).indexOf(att)==display(item).length-1)?'100%':'50%'}">
                  <span>100%</span><br>
                  {{att.name}}
                </div>
              </div>
              <div class="card-footer">

              </div>


              <!--<ul>-->
              <!--<li>-->
              <!--编号:<span>{{item.code}}</span>-->
              <!--</li>-->
              <!--<li>-->
              <!--厂商:<span>{{item.manufacturer}}</span>-->
              <!--</li>-->
              <!--<li>-->
              <!--连接:<span>{{item.connect}}</span>-->
              <!--</li>-->
              <!--<li>-->
              <!--型号:<span>{{item.model}}</span>-->
              <!--</li>-->
              <!--<li>-->
              <!--状态:-->
              <!--<span style="margin-right: 8px"-->
              <!--[ngStyle]="{'color':item.status?'#1ab768':'#ff2222'}">{{item.status ? '运行' : '停机'}}</span>-->
              <!--<nz-switch (click)="$event.stopPropagation();" [(ngModel)]="item.status" class="switch"></nz-switch>-->

              <!--</li>-->
              <!--<li>-->
              <!--注册:<span>{{item.time}}</span>-->
              <!--</li>-->
              <!--</ul>-->
            </div>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>

    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="currentIndex" [nzTotal]="deviceList.length"
                     (nzPageIndexChange)="indexChange($event)" (nzPageSizeChange)="sizeChange($event)" nzShowSizeChanger
                     [nzPageSize]="pageSize"
                     [nzPageSizeOptions]="[3,6,9,15]"></nz-pagination>
    </ng-template>

  </div>
</div>
