<p id="btn" (click)="close()">
    <i nz-icon nzType="left" nzTheme="outline"></i>{{parentCom}}
  </p>
  
  <p style="    padding-left: 24px;
      font-size: 16px;
      border-left: solid #0987fe;">基本信息</p>
  
  <form nz-form *ngIf="!loading">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>策略编号</nz-form-label>
      <nz-form-control [nzSpan]="12" [nzHasFeedback]="!codeError.unique||!codeError.required"
                       [nzValidateStatus]="(codeError.unique&&codeError.required)?'success':'error'">
        <input nz-input name="code" [(ngModel)]="alarmStg['code']" [disabled]="option=='edit'" placeholder="请输入唯一编号"/>
        <nz-form-explain *ngIf="!codeError.unique">{{'编号已被使用'}}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>策略名称</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="name" [(ngModel)]="alarmStg['name']" placeholder="请输入策略名称"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">设备</nz-form-label>
      <nz-form-control [nzSpan]="12">
          <nz-select name="device" [(ngModel)]="alarmStg.device" nzPlaceHolder="请选择设备" [compareWith]="compareFn">
            <nz-option *ngFor="let dev of deviceList" [nzValue]="dev" [nzLabel]="dev['name']"></nz-option>
          </nz-select>
        </nz-form-control>
        <button nz-tooltip nzTitle="刷新设备" nzPlacement="right" nz-button
            style="margin-top: 4px;margin-left: 8px;padding: 0 13px;" nzType="primary" (click)="getDevice()"
            [nzLoading]="tempLoading">
      <i nz-icon nzType="reload" nzTheme="outline"></i>
    </button>
    </nz-form-item>
    <nz-form-item *ngIf="alarmStg.device">
      <nz-form-label [nzSpan]="7">设备属性</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select name="attribute" [(ngModel)]="alarmStg.attribute" nzPlaceHolder="请选择设备" [compareWith]="compareFn">
            <nz-option *ngFor="let att of alarmStg.device.attrs" [nzValue]="att" [nzLabel]="att['name']"></nz-option>
          </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7">报警条件A</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select name="conditiona" style="width: 150px;" [(ngModel)]="alarmStg['conditiona']['key']" nzAllowClear nzPlaceHolder="请选择">
              <nz-option nzValue=">" nzLabel="大于A"></nz-option>
              <nz-option nzValue=">=" nzLabel="大于等于A"></nz-option>
              <nz-option nzValue="<" nzLabel="小于A"></nz-option>
              <nz-option nzValue="<=" nzLabel="小于等于A"></nz-option>
              <nz-option nzValue="=" nzLabel="等于A"></nz-option>
              <nz-option nzValue="!=" nzLabel="不等于A"></nz-option>
          </nz-select>
          <nz-input-number  style="width: 150px;" nz-input name="a"  [(ngModel)]="alarmStg['conditiona']['value']" placeholder="请输入A"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7">报警条件B</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select name="conditionb" style="width: 150px;" [(ngModel)]="alarmStg['conditionb']['key']" nzAllowClear nzPlaceHolder="请选择">
              <nz-option nzValue="<" nzLabel="小于B"></nz-option>
              <nz-option nzValue=">" nzLabel="大于B"></nz-option>
          </nz-select>
          <nz-input-number style="width: 150px;" nz-input name="b"  [(ngModel)]="alarmStg['conditionb']['value']" placeholder="请输入B"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">报警级别</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select name="level" style="width: 150px;" [(ngModel)]="alarmStg['level']" nzAllowClear nzPlaceHolder="请选择">
            <nz-option nzValue="0" nzLabel="提醒"></nz-option>
            <nz-option nzValue="1" nzLabel="警报"></nz-option>
            <nz-option nzValue="2" nzLabel="严重"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">时间间隔</nz-form-label>
      <nz-form-control [nzSpan]="12">
          <nz-input-group nzAddOnAfter="毫秒">
              <nz-input-number nz-input name="interval" [(ngModel)]="alarmStg['interval']" placeholder="请输入时间间隔"></nz-input-number>
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7">启用禁用</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <nz-switch class="switch" name="status" [(ngModel)]="alarmStg.status"></nz-switch>
            <span style="margin-left: 8px"
                  [ngStyle]="{'color':alarmStg.status?'#1ab768':'#ff2222'}">{{alarmStg.status ? '启用' : '禁用'}}</span>
        </nz-form-control>
      </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7">注释</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="note" [(ngModel)]="alarmStg['note']" placeholder="请输入注释"/>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div style="margin: 24px;padding-left: 150px;">
      <button nz-button nzType="primary" style="margin-right: 8px;width: 95px" (click)="submit()">提交</button>
      <button nz-button style="width: 95px;margin-right: 8px" (click)="reset()">重置</button>
      <button nz-button style="width: 94px;" (click)="close()">取消</button>
    </div>