<!--预警管理 卡片-->
<div id="content">
  <div style="padding: 16px">
    <div id="toolbar">
      <ul>
        <li>
          <div style="background-color: gold;"></div>
          提醒
        </li>
        <li>
          <div style="background-color: rgb(253, 152, 0);"></div>
          警报
        </li>
        <li>
          <div style="background-color: rgb(255, 0, 0);"></div>
          严重
        </li>
      </ul>
      <div id="search">
        <input type="text" nz-input placeholder="输入关键字搜索" [(ngModel)]="searchValue" (ngModelChange)="search()">
        <!-- <button nz-button>搜索</button> -->
        <button nz-button (click)="getAlarmList()" nzType="primary">刷新</button>
      </div>
    </div>
    <nz-list [nzDataSource]="alarmLists" [nzRenderItem]="item"
             [nzGrid]="{ gutter: 16, span: 6 ,xs:24 ,sm:12,md:12,lg:12,xl:6,xxl:6}"
             [nzPagination]="pagination" [nzLoading]="loading">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent">
          <ng-template #nzContent>
            <div class="card">
              <div class="title" [ngStyle]="{'background-color':item.strategy.level==0?'#2ecc71':'#f1c40f'}">
                <span>{{item.name}}</span>
              </div>
              <ul [ngStyle]="{'border':item.strategy.level=='0'?'solid 1px #2ecc71':'solid 1px #f1c40f'}">
                <li>
                  设备名称:<span>{{item.strategy.device.name}}</span>
                </li>
                <li>
                  属性名称:<span>{{item.strategy.attribute.name}}</span>
                </li>
                <li>
                  报警条件:<span>{{ item.strategy.attribute.name }}{{ item.strategy.conditiona.key }}{{ item.strategy.conditiona.value }}
                  ;
                    <span
                      *ngIf="item.strategy.conditionb.value">{{ item.strategy.attribute.name }}{{ item.strategy.conditionb.key }}{{ item.strategy.conditionb.value }}</span>
                    </span>
                </li>
                <li>
                  开始时间:<span>{{item.time}}</span>
                </li>
                <li>
                  结束时间:<span>{{item.endtime}}</span>
                </li>
                <li>
                  报警时长:<span>{{item.duration}}</span>
                </li>
              </ul>
            </div>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>

    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="currentIndex" [nzTotal]="alarmList.length"
                     (nzPageIndexChange)="indexChange($event)" (nzPageSizeChange)="sizeChange($event)" nzShowSizeChanger
                     [nzPageSize]="pageSize"
                     [nzPageSizeOptions]="[4,8,16,32]"></nz-pagination>
    </ng-template>

  </div>
</div>
