<div id="content">
  <p id="btn" (click)="close()" [title]="'返回'+parentCom">
    <i nz-icon nzType="left" nzTheme="outline"></i>{{parentCom}}
  </p>
  
  <p style="    padding-left: 24px;
        font-size: 16px;
        border-left: solid #0987fe;">
    <span *ngIf="option=='add'">新增</span>
    <span *ngIf="option=='edit'">编辑</span>
    <span *ngIf="option=='preview'">查看</span>
  </p>
  
  <form nz-form >
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>服务器名称</nz-form-label>
      <nz-form-control [nzSpan]="12" [nzHasFeedback]="!serverNameRequired"
        [nzValidateStatus]="serverNameRequired?'success':'error'">
        <input #codeEle nz-input name="serverName" [(ngModel)]="selectData.servername" [disabled]="option=='preview'"
          placeholder="请输入服务器名称" />
        <nz-form-explain *ngIf="!serverNameRequired">{{'请输入服务器名称！'}}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>数据库地址</nz-form-label>
      <nz-form-control [nzSpan]="12" [nzHasFeedback]="!serverIpRequired"
        [nzValidateStatus]="serverIpRequired?'success':'error'">
        <input nz-input name="serverIP" [(ngModel)]="selectData.serverip" [disabled]="option!='add'" placeholder="请输入数据库地址" onkeyup="this.value=this.value.replace(/[^\d|.]/g,'')" />
        <nz-form-explain *ngIf="!serverIpRequired">{{'请输入数据库地址！'}}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">端口号</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="serverPort" [(ngModel)]="selectData.serverport" [disabled]="option=='preview'" placeholder="请输入端口号" />
        <!-- <nz-form-explain *ngIf="!nameRequire">{{'请输入端口号！'}}</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" >数据库名称</nz-form-label>
      <nz-form-control [nzSpan]="12"[nzHasFeedback]="!databaseNameRequired"
      [nzValidateStatus]="databaseNameRequired?'success':'error'">
        <input #codeEle nz-input name="databaseName" [(ngModel)]="selectData.database" [disabled]="option=='preview'"
          placeholder="请输入数据库名称" />
        <!-- <nz-form-explain *ngIf="!databaseNameRequired">{{'请输入数据库名称！'}}</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">用户名</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="userName" [(ngModel)]="selectData.username" [disabled]="option=='preview'" placeholder="请输入用户名" />
        <!-- <nz-form-explain *ngIf="!nameRequire">{{'请输入用户名！'}}</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">密码</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="password" [(ngModel)]="selectData.password" [disabled]="option=='preview'" placeholder="请输入密码" />
        <!-- <nz-form-explain *ngIf="!nameRequire">{{'请输入密码！'}}</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
      <nz-form-label [nzSpan]="7">数据库类型</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="databaseType" [(ngModel)]="selectData.databasetype" [disabled]="option=='preview'" placeholder="请输入数据库类型" />
        <nz-form-explain *ngIf="!nameRequire">{{'请输入数据库类型！'}}</nz-form-explain>
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>数据库类型</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzHasFeedback]="!databaseTypeRequired"
        [nzValidateStatus]="databaseTypeRequired?'success':'error'">
            <nz-select
            name="databaseType"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="请选择数据库类型"
            [(ngModel)]="selectData.databasetype"
            
          >
            <nz-option nzLabel="时序数据库" nzValue="时序数据库"></nz-option>
            <nz-option nzLabel="文档数据库" nzValue="文档数据库"></nz-option>
            <nz-option nzLabel="关系数据库" nzValue="关系数据库"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="!databaseTypeRequired">{{'请选择数据库类型'}}</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">描述</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="description" [(ngModel)]="selectData.description" [disabled]="option=='preview'" placeholder="请输入描述" />
        <!-- <nz-form-explain *ngIf="!nameRequire">{{'请输入描述！'}}</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
  </form>
  <div style="margin: 24px;padding-left: 150px;" *ngIf="option != 'preview'">
    <button nz-button nzType="primary" style="margin-right: 8px;width: 95px" (click)="submit()" [nzLoading]="loading">保存
    </button>
    <button nz-button style="width: 95px;margin-right: 8px" (click)="reset()" [nzLoading]="loading">重置</button>
    <button nz-button style="width: 94px;" (click)="close()">取消</button>
  </div>
</div>
