<div id="content">
    <app-service-detail *ngIf="serviceDetail" [service]="service" [option]="option" [parentCom]="'设备列表'"
                      (result)="cancel($event)"></app-service-detail>
  <div *ngIf="!serviceDetail">
    <nz-layout style="padding:24px 0; background: transparent">
      <nz-content style="padding: 0 24px;">
        <div id="list-tool">
          <label>
            <input type="text" nz-input placeholder="输入关键字搜索" [(ngModel)]="searchValue" (ngModelChange)="search()">
          </label>
          <button nz-button (click)="reFresh()">刷新</button>
          <button nz-button nzType="primary" (click)="add()">新增</button>
        </div>
      </nz-content>
    </nz-layout>
    <div>
      <nz-list [nzDataSource]="serviceList" [nzRenderItem]="item" [nzLoading]="loading"
        [nzGrid]="{ gutter: 36, lg: 8, md: 6, sm: 6, xs: 4,  xl: 4 }">
        <ng-template #item let-item>
          <ng-template #contextTemplate>
            <ul nz-menu nzInDropDown>
              <li nz-menu-item (click)="edit(item.serveraddress)">编辑</li>
              <li *ngIf="!toBoolean(item.opcstate)" nz-menu-item (click)="startOPCServer(item.serveraddress)">启动</li>
              <li *ngIf="toBoolean(item.opcstate)" nz-menu-item style="color:#F22;" (click)="stopOPCServer(item.serveraddress)">停止</li>
              <li nz-menu-item>
                <a nz-popconfirm nzTitle="确定删除？" (nzOnConfirm)="remove(item.serveraddress)">删除</a></li>
            </ul>
          </ng-template>
          <div (contextmenu)="contextMenu($event, contextTemplate)" nz-popover nzType="primary"
            [nzContent]="contentTemplate">
            <div class="database">
              <table style="border:0">
                <tr>
                  <th rowspan="2" align="right" >
                    <img *ngIf="toBoolean(item.opcstate)" src="../../../../assets/src/service-up.png" style="width: 50px; align-self: center;"alt="database" />
                    <img *ngIf="!toBoolean(item.opcstate)" src="../../../../assets/src/service-down.png" style="width: 50px; align-self: center;"alt="database" />
                  </th>
                  <td align="left"><span>{{item.servername}}</span></td>
                </tr>
              </table>
            </div>
          </div>
          <ng-template #contentTemplate>
            <table style="width: 200px">
              <tr>
                <th><b>服务地址：</b></th>
                <td>{{item.serveraddress}}</td>
              </tr>
              <tr>
                <th><b>端口号：</b></th>
                <td>{{item.serverport}}</td>
              </tr>
              <tr>
                <th><b>采集频率：</b></th>
                <td>{{item.interval}}ms</td>
              </tr>
              <tr>
                <th><b>存储策略：</b></th>
                <td>{{item.savestrategy}}</td>
              </tr>
            </table>
          </ng-template>
        </ng-template>
      </nz-list>
    </div>
  </div>
</div>
