<div id="content">
  <p id="btn" (click)="close()">
    <i nz-icon nzType="left" nzTheme="outline"></i>设备模板
  </p>

  <p style="    padding-left: 24px;
    font-size: 16px;
    border-left: solid #0987fe;">基本信息</p>

  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>模板编号</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="code" [(ngModel)]="template['code']" [disabled]="option=='edit'"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>模板名称</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="name" [(ngModel)]="template['name']" [disabled]="option=='edit'"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7">描述</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="description" [(ngModel)]="template['description']" />
      </nz-form-control>
    </nz-form-item>
  </form>


  <p style="    padding-left: 24px;
    font-size: 16px;
    border-left: solid #0987fe;">属性信息</p>

  <nz-table *ngIf="template['attrs']!=null" #attrsTable nzSize="small" [nzData]="template['attrs']"
            [nzFrontPagination]="false" [nzShowPagination]="false"
            style="margin: 24px;padding-left: 150px;padding-right: 150px">
    <thead>
    <tr>
      <th nzWidth="64px">
        #
      </th>
      <th>名称</th>
      <th>编号</th>
      <th>值类型</th>
      <th>描述</th>
      <th>单位</th>
      <th nzWidth="80px">累加值</th>
      <th nzWidth="80px">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of attrsTable.data">
      <td *ngIf="data.key!='null'">
        {{template['attrs'].indexOf(data) + 1}}
      </td>
      <td *ngIf="data.key=='null'">
        <button class="custom-btn" nz-button (click)="addAttr()" nz-tooltip nzTitle="添加一条属性" nzPlacement="right">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
        </button>
      </td>
      <td *ngIf="data.key!='null'">
        <input type="text" nz-input [(ngModel)]="data['name']" placeholder="请填写名称"/>
      </td>
      <td *ngIf="data.key!='null'">
        <input type="text" nz-input [(ngModel)]="data['code']" placeholder="请填写唯一编号"/>
      </td>
      <td *ngIf="data.key!='null'">
        <nz-select [(ngModel)]="data['valuetype']" nzPlaceHolder="请选择数值类型" style="width:100%;">
          <nz-option [nzValue]="'string'" [nzLabel]="'字符串'"></nz-option>
          <nz-option [nzValue]="'number'" [nzLabel]="'数字'"></nz-option>
          <nz-option [nzValue]="'bool'" [nzLabel]="'布尔'"></nz-option>
          <nz-option [nzValue]="'option'"  [nzLabel]="'枚举'"></nz-option>
        </nz-select>
      </td>
      <td *ngIf="data.key!='null'">
        <input type="text" nz-input [(ngModel)]="data['description']" placeholder="请填写描述"/>
      </td>
      <td *ngIf="data.key!='null'">
        <input type="text" nz-input [(ngModel)]="data['unit']" placeholder="请填写单位"/>
      </td>
      <td *ngIf="data.key!='null'">
        <nz-switch class="switch" [(ngModel)]="data['sum']"></nz-switch>
      </td>
      <td *ngIf="data.key!='null'">
        <a style="color: #ff2222" (click)="remove(data['key'])">
          <i nz-icon nzType="delete" nzTheme="outline"></i>删除
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div style="padding-left: 150px;margin: 24px">
  <button nz-button nzType="primary"  style="margin-right: 8px;width: 100px" (click)="submit()" [nzLoading]="loading">保存</button>
  <button nz-button style="width: 100px;" (click)="close()">取消</button>
  </div>
</div>

