<!--跳转 报警信息汇总-编辑 页面-->
<app-edit-alarm-summary *ngIf="editFlag"  [selectEditData]="selectEditData" [option]="option" [parentCom]="'报警信息汇总'"
(result)="cancel($event)"></app-edit-alarm-summary>

<div *ngIf="alarmList && !editFlag" id="content">
  <nz-layout style="padding:24px 0; background: transparent">
    <nz-content style="padding: 0 24px; min-height: 280px;">
      <div id="list-tool">
        <label>
          <input type="text" nz-input placeholder="输入关键字搜索" [(ngModel)]="searchValue" (ngModelChange)="search()">
        </label>
        <button nz-button (click)="getAlarmList()" nzType="primary">刷新</button>
      </div>

      <nz-table #list [nzData]="alarmJson" [nzLoading]="loading" [nzPageSize]="5">
        <thead>
        <tr>
          <th nzWidth="100px">#</th>
          <th>设备名称</th>
          <th>报警数量（次）</th>
          <th>报警总时长（s）</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of list.data">
          <td>{{alarmJson.indexOf(data) + 1}}</td>
          <td>{{data.devicename}}</td>
          <td>{{data.sum}}</td>
          <td>{{data.timesum}}</td>
          <td>
            <a (click)="editOrPreview(data.deviceid, 'preview')"><i nz-icon nzType="zoom-in" nzTheme="outline"></i>预览</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="editOrPreview(data.deviceid, 'edit')"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-content>
  </nz-layout>
</div>

