<div id="content" [ngStyle]="{'display':indexUrl?'none':'block'}">


  <span style=" margin-left: -16px;padding-left: 24px;
    font-size: 16px;
    border-left: solid #0987fe;">首页展示</span>

  <div id="search">
    <button nz-button data-bind="click: $root.add" nz-tooltip nzTitle="新增" nzPlacement="bottom"  nzType="primary"><i nz-icon
                                                                                                           nzType="plus"
                                                                                                           nzTheme="outline"></i>
    </button>
    <button nz-button data-bind="click: $root.save" nz-tooltip nzTitle="保存" nzPlacement="bottom" nzType="primary"><i nz-icon
                                                                                                           nzType="save"
                                                                                                           nzTheme="outline"></i>
    </button>
    <button nz-button nz-tooltip nzTitle="刷新" nzPlacement="bottom" (click)="initBar()" nzType="primary"><i nz-icon
                                                                                                           nzType="reload"
                                                                                                           nzTheme="outline"></i>
    </button>
    <button nz-button nz-tooltip nzTitle="大屏展示" nzPlacement="bottom" (click)="add()" nzType="primary"><i nz-icon
                                                                                                         nzType="desktop"
                                                                                                         nzTheme="outline"></i>
    </button>
  </div>
  <div style="margin-top: 32px" data-bind="component: {name: 'dashboard-grid', params: $data}"></div>

</div>

<div id="indexUrl" *ngIf="indexUrl">
  <iframe [src]="indexUrl | safe" style="position: absolute;height: 100%;width:100%;border: none"></iframe>
</div>
