<p id="btn" (click)="close()" [title]="'返回'+parentCom">
  <i nz-icon nzType="left" nzTheme="outline"></i>{{parentCom}}
</p>

<p style="    padding-left: 24px;
    font-size: 16px;
    border-left: solid #0987fe;">基本信息</p>

<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>订阅名称</nz-form-label>
    <nz-form-control [nzSpan]="12" [nzHasFeedback]="!nameRequire"
                     [nzValidateStatus]="nameRequire?'success':'error'">
      <input #codeEle nz-input name="name" [(ngModel)]="cloud['name']" [disabled]="option=='edit'"
             placeholder="请输入订阅名称"
             (ngModelChange)="cloud.name?nameRequire=true:nameRequire=false;"/>
      <nz-form-explain *ngIf="!nameRequire">{{'请输入订阅名称！'}}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">订阅方式</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select name="destination"  [(ngModel)]="cloud['destination']" placeholder="请选择订阅方式">
          <nz-option *ngFor="let d of destinationData" [nzLabel]="d" [nzValue]="d"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSpan]="7">格式</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select name="format"  [(ngModel)]="cloud['format']" placeholder="请选择数据传输格式">
            <nz-option *ngFor="let f of fomartData" [nzLabel]="f" [nzValue]="f"></nz-option>
        </nz-select>
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>设备名称</nz-form-label>
    <nz-form-control [nzSpan]="12" [nzHasFeedback]="!deviceRequire"
                     [nzValidateStatus]="deviceRequire?'success':'error'">
      <nz-select name="device"  [(ngModel)]="cloud['filter']['device']" placeholder="请选择设备名称"  (ngModelChange)="deviceChange(cloud['filter']['device'])">
        <nz-option *ngFor="let d of deviceList" [nzLabel]="d" [nzValue]="d"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="!deviceRequire">{{'请选择设备名称！'}}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSpan]="7">参数名称</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select name="attribute"  [(ngModel)]="cloud['filter']['attribute']" placeholder="请选择参数名称">
            <nz-option *ngFor="let d of paramList" [nzLabel]="d" [nzValue]="destinationData"></nz-option>
        </nz-select>
      </nz-form-control>
  </nz-form-item>
  <p style="    padding-left: 24px;
  font-size: 16px;
  border-left: solid #0987fe;">寻址信息</p>
  <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>主题</nz-form-label>
      <nz-form-control [nzSpan]="10" [nzHasFeedback]="!topicRequire"
                        [nzValidateStatus]="topicRequire?'success':'error'">
        <input nz-input name="topic" [(ngModel)]="cloud['topic']" placeholder="请输入主题"
          (ngModelChange)="cloud.topic?topicRequire=true:topicRequire=false;"/>
        <nz-form-explain *ngIf="!topicRequire">{{'请输入主题！'}}</nz-form-explain>
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>地址</nz-form-label>
      <nz-form-control [nzSpan]="10" [nzHasFeedback]="!addrRequire"
                        [nzValidateStatus]="addrRequire?'success':'error'">
        <input nz-input name="address" [(ngModel)]="cloud['address']" placeholder="请输入地址"
          (ngModelChange)="cloud.address?addrRequire=true:addrRequire=false;"/>
        <nz-form-explain *ngIf="!addrRequire">{{'请输入地址！'}}</nz-form-explain>
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>端口号</nz-form-label>
      <nz-form-control [nzSpan]="12" [nzHasFeedback]="!portRequire"
                       [nzValidateStatus]="portRequire?'success':'error'">
        <input nz-input name="port" [(ngModel)]="cloud['port']" placeholder="请输入端口号"
               (ngModelChange)="cloud.port?portRequire=true:portRequire=false;"/>
        <nz-form-explain *ngIf="!portRequire">{{'请输入端口号！'}}</nz-form-explain>
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">用户名</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input name="user" [(ngModel)]="cloud['user']" placeholder="请输入用户名"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSpan]="7">密码</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input name="password" [(ngModel)]="cloud['password']" placeholder="请输入密码"/>
      </nz-form-control>
    </nz-form-item>
<div style="margin: 24px;padding-left: 150px;">
  <button nz-button nzType="primary" style="margin-right: 8px;width: 95px" (click)="submit()" [nzLoading]="loading">保存
  </button>
  <button nz-button style="width: 95px;margin-right: 8px" (click)="reset()" [nzLoading]="loading">重置</button>
  <button nz-button style="width: 94px;" (click)="close()">取消</button>
</div>
</form>
