<!--右上用户下拉选项，绝对定位-->
<div id="ava">
  <nz-badge *ngIf="notifcount>0" nzDot>
    <nz-avatar (click)="optionClick('1040')" nzText="User" [nzSrc]="user['img']"
               style="background-color:#555d60;"></nz-avatar>
  </nz-badge>
  <nz-avatar *ngIf="notifcount<=0" (click)="optionClick('1040')" nzText="User" [nzSrc]="user['img']"
             style="background-color:#555d60;"></nz-avatar>

  <div id="user-menu">
    <ul>
      <li (click)="optionClick('1040')">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        个人中心
      </li>
      <!--      <li (click)="optionClick('1041')">
              <i nz-icon nzType="setting" nzTheme="outline"></i>
              基本设置
            </li>-->
      <li (click)="optionClick('1042')">
        <nz-badge [nzCount]="notifcount">
          <a class="head-example" style="margin-right: 24px"></a>
          <i nz-icon nzType="notification" nzTheme="outline"></i>
          消息通知
        </nz-badge>
      </li>
      <li (click)="optionClick('1043')" *ngIf="user['role']==='admin'">
        <i nz-icon nzType="team" nzTheme="outline"></i>
        用户列表
      </li>
      <li (click)="optionClick('1044')" *ngIf="user['role']==='admin'">
        <i nz-icon nzType="safety" nzTheme="outline"></i>
        角色管理
      </li>
      <li (click)="logout()">
        <i nz-icon nzType="poweroff" nzTheme="outline"></i>
        退出登录
      </li>
    </ul>
  </div>
</div>

<!--左菜单-->
<div [ngClass]="{'menu':menuExp,'menu-mini':!menuExp}">
  <!--三选项组合按钮-->
  <div id="logo">
    <img src="../../assets/src/PlatformLogo.png" alt="inpsur">
    INSPUR Insight
  </div>

  <!--菜单功能栏-->
  <div id="box">
    <div class="radio">
      <ul>
        <li [ngClass]="{'radio-active':menuList==='all'}" (click)="menuSwitch('all')" nzTitle="全部" nzPlacement="bottom"
            nz-tooltip>
          <i nz-icon nzType="bars" nzTheme="outline"></i>
        </li>
        <li [ngClass]="{'radio-active':menuList==='fav'}" (click)="menuSwitch('fav')" nzTitle="收藏" nzPlacement="bottom"
            nz-tooltip>
          <i nz-icon nzType="star" nzTheme="outline"></i>
        </li>
        <li [ngClass]="{'radio-active':menuList==='share'}" (click)="menuSwitch('share')" nzTitle="共享"
            nzPlacement="bottom"
            nz-tooltip>
          <i nz-icon nzType="share-alt" nzTheme="outline"></i>
        </li>

      </ul>
    </div>

    <div id="reload" (click)="reloadTree()">
      <i nz-icon nzType="reload" nzTheme="outline"></i>
    </div>

    <!--searchExp 标明搜索框展开状态，true，false-->
    <div [ngClass]="{'searchExp':this.searchExp,'search':!this.searchExp}">
      <label [ngClass]="{'label':this.searchExp,'hidlabel':!this.searchExp}">
        <input class="searchText" type="text" name="search" placeholder="输入搜索关键字"
               [(ngModel)]="searchValue">
      </label>
      <i nz-icon [nzType]="searchExp?'close':'search'" nzTheme="outline"
         (click)="searchExp=!searchExp;searchValue='';"></i>
    </div>
  </div>

  <!--菜单主体树列表-->
  <nz-tree [nzData]="nodes" (nzDblClick)="openFolder($event)" (nzClick)="activeNode($event)" [nzHideUnMatched]="true"
           [nzShowExpand]="false" [nzSearchValue]="searchValue" (nzSearchValueChange)="nzEvent($event)">

    <ng-template #nzTreeTemplate let-node>
      <div (click)="openFolder(node)" class="custom-node"
           [class.active]="activedNode?(activedNode.key == node.key):false">
        <div *ngIf="node.children.length>=1">
          <i nz-icon [type]="node.icon"
             style="display: inline-block;"></i>
          <div class="folder-name"
               style="display: inline-flex;padding-left: 8px;width: 160px;margin-right: 10px;overflow-x: hidden;">{{ node.title }}</div>
          <i nz-icon [type]="'down'" [ngStyle]="{  'transform':node.isExpanded ? 'rotateZ(180deg)':'rotateZ(0)'}"
             style="display: inline-block;z-index: 10;       -webkit-transition-duration: 400ms;
      -moz-transition-duration: 400ms;
      -o-transition-duration: 400ms;
      transition-duration: 400ms;"></i>
        </div>
        <div *ngIf="node.isLeaf">
          <i nz-icon [type]="node['icon']?node['icon']:'tag'"
             style="display: inline-block;"></i>
          <div class="file-name"
               style="display:inline-flex;padding-left: 8px;width:156px;overflow-x: hidden">{{ node.title }}</div>
        </div>
        <div *ngIf="!node.isLeaf&&node.children.length<1">
          <i nz-icon [type]="node.icon"
             style="display: inline-block;"></i>
          <div class="folder-name"
               style="display: inline-flex;padding-left: 8px;width: 160px;margin-right: 10px;overflow-x: hidden;">{{ node.title }}</div>
        </div>
      </div>
    </ng-template>
  </nz-tree>

  <div id="menu-footer">
    <ul>
      <li nzTitle="综合分析" nzPlacement="top" nz-tooltip (click)="grafanaClick('1070')">
        <i nz-icon nzType="area-chart" nzTheme="outline"></i>
      </li>
      <li nzTitle="拓扑监控" nzPlacement="top" nz-tooltip (click)="topoClick('1050')">
        <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
      </li>
      <li nzTitle="仿真监控" nzPlacement="top" nz-tooltip (click)="modelClick('1060')">
        <!--<i nz-icon nzType="bulb" nzTheme="outline"></i>-->
        <i nz-icon [nzIconfont]="'iconrenjijiaohuD-DduixiangVR'"></i>
      </li>
    </ul>
  </div>

</div>

<!--内容框-->
<div [ngClass]="{'content':menuExp,'contentExp':!menuExp}">
  <!--菜单搜索按钮-->
  <div id="leftBtn" (click)="menuExp=!menuExp;">
    <i nz-icon nzTheme="outline" [nzType]="menuExp?'menu-fold':'menu-unfold'"></i>
  </div>

  <!--tab条-->
  <nz-tabset [nzType]="'line'" [(nzSelectedIndex)]="tabIndex" [nzTabBarGutter]="0" [nzAnimated]="false">
    <nz-tab (nzClick)="selectChange(tab['key'])" *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
      <ng-template #titleTemplate>
        <div [ngStyle]="{'user-select':'none'}">
          <i nz-icon nzTheme="outline" [nzType]="tab['icon']?tab['icon']:'tag'"></i>
          {{ tab["title"] }}
          <i *ngIf="tab['key']!='000'" nz-icon type="close" (click)="closeTab(tab)" class="ant-tabs-close-x"></i>
        </div>
      </ng-template>
    </nz-tab>
  </nz-tabset>

  <!--tab条下内容，根据tab页切换-->
  <div id="app-content">

    <!--控制显隐方式，方便内置的iframe缓存页面信息，不必刷新，性能是否有损耗暂未实测-->
    <!--首页-->
    <app-index *ngIf="exist('000')" class="back"
               [ngStyle]="{'display':active=='000'?'block':'none'}" [flag]="indexFlag"></app-index>

    <!--device mgr-->
    <app-device-card *ngIf="exist('1000')" class="back"
                     [ngStyle]="{'display':active=='1000'?'block':'none'}" [flag]="indexFlag"></app-device-card>
    <app-device-list *ngIf="exist('1001')" class="back"
                     [ngStyle]="{'display':active=='1001'?'block':'none'}" [flag]="indexFlag"></app-device-list>
    <app-device-template *ngIf="exist('1002')" class="back"
                         [ngStyle]="{'display':active=='1002'?'block':'none'}"></app-device-template>

    <!--alarm-->
    <app-alarm-detail *ngIf="exist('1010')" class="back"
                      [ngStyle]="{'display':active=='1010'?'block':'none'}"></app-alarm-detail>
    <app-alarm-strategy-list *ngIf="exist('1011')" class="back"
                             [ngStyle]="{'display':active=='1011'?'block':'none'}"></app-alarm-strategy-list>
    <app-alarm-summary *ngIf="exist('1012')" class="back"
                       [ngStyle]="{'display':active=='1012'?'block':'none'}"></app-alarm-summary>
    <app-alarm-mgr *ngIf="exist('1013')" class="back"
                   [ngStyle]="{'display':active=='1013'?'block':'none'}"></app-alarm-mgr>


    <!--data-mgr-->
    <app-db-mgr *ngIf="exist('1020')" class="back" [change]="indexFlag"
                [ngStyle]="{'display':active=='1020'?'block':'none'}"></app-db-mgr>
    <app-data-manage *ngIf="exist('1021')" class="back" [change]="indexFlag"
                     [ngStyle]="{'display':active=='1021'?'block':'none'}"></app-data-manage>

    <!--data-process-->
    <app-data-define *ngIf="exist('1030')" class="back" 
                     [ngStyle]="{'display':active=='1030'?'block':'none'}"></app-data-define>

    <!--user-->
    <app-user *ngIf="exist('1040')" class="back" [ngStyle]="{'display':active=='1040'?'block':'none'}"
              [key]="key" [flag]="indexFlag"></app-user>

    <!--edge service-->
    <app-service-image *ngIf="exist('3001')" class="back" [refresh]="indexFlag"
                      [ngStyle]="{'display':active=='3001'?'block':'none'}"></app-service-image>
    <app-device-service *ngIf="exist('3002')" class="back" [refresh]="indexFlag"
                      [ngStyle]="{'display':active=='3002'?'block':'none'}"></app-device-service>
       <!--cloud service-->
    <app-cloud-image *ngIf="exist('3011')" class="back" [refresh]="indexFlag"
                      [ngStyle]="{'display':active=='3011'?'block':'none'}"></app-cloud-image>
    <app-cloud-list *ngIf="exist('3012')" class="back" [refresh]="indexFlag"
                      [ngStyle]="{'display':active=='3012'?'block':'none'}"></app-cloud-list>

    <app-setting *ngIf="exist('1041')" class="back" [ngStyle]="{'display':active=='1041'?'block':'none'}"></app-setting>
    <app-notification *ngIf="exist('1042')" class="back"
                      [ngStyle]="{'display':active=='1042'?'block':'none'}"></app-notification>
    <app-user-list *ngIf="exist('1043')" class="back"
                   [ngStyle]="{'display':active=='1043'?'block':'none'}"></app-user-list>
    <app-role *ngIf="exist('1044')" class="back" [ngStyle]="{'display':active=='1044'?'block':'none'}"></app-role>

    <app-topo-show *ngIf="exist('1050')" class="back" [ngStyle]="{'display':active=='1050'?'block':'none'}" [flag]="indexFlag"></app-topo-show>
    <app-model3d-show *ngIf="exist('1060')" class="back" [ngStyle]="{'display':active=='1060'?'block':'none'}" [flag]="indexFlag"></app-model3d-show>
    <app-grafana-show *ngIf="exist('1070')" class="back" [ngStyle]="{'display':active=='1070'?'block':'none'}"></app-grafana-show>


    <app-topo-design *ngIf="exist('2001')" class="back"
                     [ngStyle]="{'display':active=='2001'?'block':'none'}"></app-topo-design>
    <app-topo-mgr *ngIf="exist('2002')" class="back"
                  [ngStyle]="{'display':active=='2002'?'block':'none'}"></app-topo-mgr>


    <app-model-design *ngIf="exist('2011')" class="back"
                      [ngStyle]="{'display':active=='2011'?'block':'none'}"></app-model-design>
    <app-model-mgr *ngIf="exist('2012')" class="back"
                   [ngStyle]="{'display':active=='2012'?'block':'none'}"></app-model-mgr>


    <app-grafana-design *ngIf="exist('2021')" class="back"
                        [ngStyle]="{'display':active=='2021'?'block':'none'}"></app-grafana-design>
    <app-grafana-mgr *ngIf="exist('2022')" class="back"
                     [ngStyle]="{'display':active=='2022'?'block':'none'}"></app-grafana-mgr>


    <!--此处三个自定义菜单，逻辑相同，且细致缠绵，不确定能否简化，建议兄弟们别乱搞-->
    <!--自定义grafana区域，其子菜单存在tab页时渲染-->
    <!--打开的tab页中有grafana自定义菜单，则渲染整个大div（感觉可以去掉，还有显隐控制） // 激活的tab页属于grafana自定义菜单时才display // height必须100%，否则有高度问题，应该源于ant样式-->
    <!--<div *ngIf="cusExist('grafana')" [ngStyle]="{'display':activeExist('grafana')?'block':'none'}">-->
    <!--&lt;!&ndash;每个子菜单渲染一个div，height100% 源于ant // 激活的tab页对应显示div（除非关掉tab，内部的iframe持续存在，切换回来不会刷新） // ngFor和ngIf不可同时用&ndash;&gt;-->
    <!--<div *ngFor="let meta of cusGrafana.children"-->
    <!--[ngStyle]="{'display':active==meta.key?'block':'none'}">-->
    <!--&lt;!&ndash;iframe嵌入，需要safe管道 // tab页打开即渲染，切换不会刷新，关掉tab停止渲染&ndash;&gt;-->
    <!--<iframe [src]="meta.url | safe" *ngIf="exist(meta.key)" class="back"></iframe>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;自定义3D区域，其子菜单存在tab页时渲染&ndash;&gt;-->
    <!--<div *ngIf="cusExist('3d')" [ngStyle]="{'display':activeExist('3d')?'block':'none'}">-->
    <!--&lt;!&ndash;每个子菜单渲染一个div，不设高度，按tab页选中状态控制显隐，ngFor和ngIf不可同时用&ndash;&gt;-->
    <!--<div *ngFor="let meta of custom3D.children"-->
    <!--[ngStyle]="{'display':active==meta.key?'block':'none'}">-->
    <!--&lt;!&ndash;iframe嵌入，需要safe管道。按tab存在状态控制渲染&ndash;&gt;-->
    <!--<iframe [src]="meta.url | safe" *ngIf="exist(meta.key)" class="back"></iframe>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;自定义topo内容区，其子菜单存在tab页时渲染&ndash;&gt;-->
    <!--<div *ngIf="cusExist('topo')" [ngStyle]="{'display':activeExist('topo')?'block':'none'}">-->
    <!--&lt;!&ndash;每个子菜单渲染一个div，不设高度，按tab页选中状态控制显隐，ngFor和ngIf不可同时用&ndash;&gt;-->
    <!--<div *ngFor="let meta of customTopo.children"-->
    <!--[ngStyle]="{'display':active==meta.key?'block':'none'}">-->
    <!--&lt;!&ndash;iframe嵌入，需要safe管道。按tab存在状态控制渲染&ndash;&gt;-->
    <!--<iframe [src]="meta.url | safe" *ngIf="exist(meta.key)" class="back"></iframe>-->
    <!--</div>-->
    <!--</div>-->

  </div>
</div>

<!--右悬浮导航，绝对定位-->
<div id="nav">
  <ul>
    <!--<li class="li-active" nzTitle="仪表盘" nzPlacement="left" nz-tooltip >-->
    <!--<i nz-icon nzType="dashboard" nzTheme="outline"></i>-->
    <!--</li>-->
    <li nzTitle="综合分析" nzPlacement="left" nz-tooltip (click)="click('grafana')">
      <i nz-icon nzType="area-chart" nzTheme="outline"></i>
    </li>
    <li nzTitle="拓扑监控" nzPlacement="left" nz-tooltip (click)="click('topo')">
      <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
    </li>
    <li nzTitle="仿真监控" nzPlacement="left" nz-tooltip (click)="click('model')">
      <!--<i nz-icon nzType="bulb" nzTheme="outline"></i>-->
      <i nz-icon [nzIconfont]="'iconrenjijiaohuD-DduixiangVR'"></i>
    </li>
    <!--<li nzTitle="数据处理" nzPlacement="left" nz-tooltip (click)="click('datapro')">-->
    <!--<i nz-icon nzType="robot" nzTheme="outline"></i>-->
    <!--</li>-->
    <!--<li nzTitle="数据管理" nzPlacement="left" nz-tooltip (click)="click('datamgr')">-->
    <!--<i nz-icon nzType="database" nzTheme="outline"></i>-->
    <!--</li>-->
  </ul>
</div>

