<div id="patch">
  <span style="font-size: 20px;color:#fff;padding-left: 24px;line-height: 40px;">
    浪潮制造智能分析平台
  </span>

  <ul id="ava">
    <li>
      <i nz-icon nzType="user" nzTheme="outline"></i>
    </li>
    <li>
      <i nz-icon nzType="setting" nzTheme="outline"></i>
    </li>
    <li (click)="logout()">
      <i nz-icon nzType="reload" nzTheme="outline"></i>
    </li>
  </ul>
  <ul class="user-menu">
    <li>
      <span>个人中心</span>
    </li>
    <li>
      <span>切换主题</span>
    </li>
    <li>
      <span>常用设置</span>
    </li>
    <li>
      <span>个人中心</span>
    </li>
    <li>
      <span>重新登录</span>
    </li>
    <li>
      <span>注销</span>
    </li>

  </ul>
</div>

<div [ngClass]="{'menu':menuExp,'menu-mini':!menuExp}">
  <!--三选项组合按钮-->
  <div id="box">
    <div id="radio">
      <ul>
        <li [ngClass]="{'li-active':menuList==='all'}" (click)="menuSwitch('all')" nzTitle="全部" nzPlacement="bottom"
            nz-tooltip>
          <i nz-icon nzType="bars" nzTheme="outline"></i>
        </li>
        <li [ngClass]="{'li-active':menuList==='fav'}" (click)="menuSwitch('fav')" nzTitle="收藏" nzPlacement="bottom"
            nz-tooltip>
          <i nz-icon nzType="star" nzTheme="outline"></i>
        </li>
        <li [ngClass]="{'li-active':menuList==='share'}" (click)="menuSwitch('share')" nzTitle="共享" nzPlacement="bottom"
            nz-tooltip>
          <i nz-icon nzType="share-alt" nzTheme="outline"></i>
        </li>

      </ul>
    </div>

    <!--searchExp 标明搜索框展开状态，true，false-->
    <div [ngClass]="{'searchExp':this.searchExp,'search':!this.searchExp}">
      <label [ngClass]="{'label':this.searchExp,'hidlabel':!this.searchExp}">
        <input class="searchText" type="text" name="search" placeholder="输入搜索关键字"
               [(ngModel)]="searchValue" (ngModelChange)="search()">
      </label>
      <i nz-icon [nzType]="searchExp?'close':'search'" nzTheme="outline"
         (click)="searchExp=!searchExp;searchValue='';menuList='all';nodes=allNodes;"></i>
    </div>

    <!--菜单缩放-->
    <div id="fix" (click)="menuExp=!menuExp;">
      <i nz-icon [nzType]="menuExp?'menu-fold':'menu-unfold'" nzTheme="outline"></i>
    </div>
  </div>

  <nz-tree [nzData]="nodes" (nzClick)="activeNode($event)" (nzDblClick)="openFolder($event)">
    <ng-template #contextTemplate>
      <ul nz-menu nzInDropDown>
        <li nz-menu-item (click)="selectDropdown()">Action 1</li>
        <li nz-menu-item (click)="selectDropdown()">Action 2</li>
      </ul>
    </ng-template>

    <ng-template #nzTreeTemplate let-node>
        <span class="custom-node" [class.active]="activedNode?.key === node.key">
          <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, contextTemplate)">
            <i nz-icon [type]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>
            <span class="folder-name" (click)="openFolder(node)">{{ node.title }}</span>
          </span>
          <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event, contextTemplate)">
            <span class="file-name">{{ node.title }}</span>
          </span>
        </span>
    </ng-template>

  </nz-tree>
</div>
<div [ngClass]="{'content':menuExp,'contentExp':!menuExp}">

</div>

<div id="nav">
  <ul>
    <li nzTitle="仪表盘" nzPlacement="left" nz-tooltip (click)="click('/')">
      <i nz-icon nzType="dashboard" nzTheme="outline"></i>
    </li>
    <li nzTitle="3D仿真" nzPlacement="left" nz-tooltip (click)="click('/model')">
      <i nz-icon nzType="global" nzTheme="outline"></i>
    </li>
    <li nzTitle="数据监控" nzPlacement="left" nz-tooltip (click)="click('/grafana')">
      <i nz-icon nzType="area-chart" nzTheme="outline"></i>
    </li>
    <li class="li-active" nzTitle="拓扑图" nzPlacement="left" nz-tooltip (click)="click('/topo')">
      <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
    </li>
    <li nzTitle="数据处理" nzPlacement="left" nz-tooltip (click)="click('/datapro')">
      <i nz-icon nzType="robot" nzTheme="outline"></i>
    </li>
    <li nzTitle="数据管理" nzPlacement="left" nz-tooltip (click)="click('/datamgr')">
      <i nz-icon nzType="database" nzTheme="outline"></i>
    </li>
  </ul>
</div>
